<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::layout(~{::section})">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>BRS</title>
</head>
<body>
<section>
    <div class="container">
        <div class="row">
            <div class = "col-md-4">
                <br>
                <h3 style="text-align: center;color: black" > Category From </h3>
                <hr>
                <form  th:action="@{~/created}" th:method="post"  th:object="${categoryDto}" >
                    <div class="mb-3">
                        <label  class="form-label">Category Name</label>
                        <input type="text" class="form-control" th:field="*{name}" placeholder="category name" required>
                        <p th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="item field-invalid">Name errors</p>
                    </div>
                    <div class="mb-3">
                        <label  class="form-label">Description</label>
                        <textarea class="form-control" th:field="*{description}" rows="5"></textarea>
                    </div>
                    <button type="submit" class="btn btn-success">Submit</button>
                    <button type="reset" class="btn btn-danger">Reset</button>
                </form>
               <p th:text="${message}"> </p>
            </div>

            <div class = "col-md-8">
                <br>
                <h3 style="text-align: center;"> Category's List</h3>
                <hr>
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">S.N</th>
                        <th scope="col">NAME</th>
                        <th scope="col">DESCRIPTION</th>
                        <th scope="col">ACTION</th>
                    </tr>
                    </thead>
                    <tbody>
                       <tr th:each="category,loop : ${categoryDtoList}">
                         <th th:text="${loop.count}"></th>-
                         <td th:text="${category.name}"></td>
                         <td th:text="${category.description}"></td>

                         <td>
                            <a th:href=" @{~/findby/}+${category.id}">
                                 <button type="button" class="btn btn-sm btn-success">Update</button>
                            </a>
                             <a th:href="@{~/deleteby/}+${category.id}">
                               <button type="button" class="btn btn-sm btn-danger">Delete</button>
                             </a>
                          </td>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>

</body>
</html>